@font-face {
  font-family: 'amsterdam-four';
  src: url(../fonts/amsterdam-four.ttf);
}
@font-face {
  font-family: 'RumbleBrave';
  src: url(../fonts/Rumble/RumbleBrave.ttf);
}

// @font-face {
//   font-family: 'FUTUR';
//   src: url(../fonts/Fonts/FUTUR_.TTF);
// }
// @font-face {
//   font-family: amsterdam-four;
//   src: url(../fonts/amsterdam-four.ttf);
// }
// @font-face {
//   font-family: amsterdam-four;
//   src: url(../fonts/amsterdam-four.ttf);
// }
// @font-face {
//   font-family: amsterdam-four;
//   src: url(../fonts/amsterdam-four.ttf);
// }