@import "./fonts.scss";
@import "./grid.scss";
@import "./Particles/title";
@import "./Particles/margins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
 
a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    max-width: 992px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.burger-menu {
  background-image: url(../img/menu-container.png);
  padding: 10px;
  background-size: cover;
  cursor: pointer;

  .menu-icon {
    max-width: 35px;
    display: block;

    @media (max-width: 640px) {
      max-width: 25px;
    }
  }
}

.hero-section {
  min-height: 870px;
  background-image: url(../img/bg-.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  z-index: 3;

  .header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo img {
      max-width: 300px;
    }

    &.container {
      max-width: 1600px;

      @media (max-width: 1440px) {
        max-width: 1300px;
      }

      @media (max-width: 1300px) {
        max-width: 1200px;
      }
    }
  }

  .hero {
    &-content {
      position: absolute;
      transform: translate(-50%, -20%);
      top: 50%;
      left: 50%;
      width: 100%;
    }

    &-title {
      @include cursiveHeading();
    }

    &-subtitle {
      text-align: center;
      font-size: 45px;
      color: #d4901b;
      font-family: "Futura-Condensed";
      font-weight: 600;

      @media(min-width: 1199px) {
        margin-top: 100px;        
      }
    }

    &-img {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      bottom: -50px;
    }

    @media (max-width: 992px) {
      &-title {
        font-size: 55px;
      }

      &-subtitle {
        font-size: 37px;
      }

      &-img {
        top: 120px;
        bottom: 0;
        padding-left: 10px;
        padding-right: 10px;
      }

      &-content {
        transform: translate(-50%, 0);
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    @media (max-width: 640px) {
      &-title {
        font-size: 30px;
      }

      &-subtitle {
        font-size: 27px;
      }

      &-img {
        top: 120px;
        bottom: 0;
        padding-left: 10px;
        padding-right: 10px;
      }

      &-content {
        transform: translate(-50%, 0);
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  @media (max-width: 992px) {
    min-height: 800px;

    .header .logo img {
      max-width: 200px;
    }
  }

  @media (min-width: 768px) {
    .burger-menu {
      margin-right: 20px;
    }
  }

  @media (max-width: 640px) {
    .header {
      padding-top: 10px;

      .logo img {
        max-width: 150px;
      }
    }

    min-height: 450px;
    background-image: url(../img/mobile-home-bg.png);
    background-position: center 40px;
    background-size: 840px;
  }
}

.about-us {
  background-image: url("../img/contact-bg.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 450px;

  .right-abs {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    max-width: 600px;
  }

  @media (max-width: 640px) {
    min-height: 380px;

    &.section-p {
      padding-bottom: 0;
      text-align: center;
    }

    .right-abs {
      position: relative;
      display: block;
      margin-top: 30px;
      width: 100%;
    }

    .section-subtitle {
      font-size: 27px;
    }

    .section-description {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.our-mission {
  background-image: url("../img/mission-bg.jpg");
  background-position: right;
  min-height: 450px;
  background-size: 100%;
  position: relative;
  z-index: 1;

  .stand-lady {
    position: absolute;
    top: -10px;
    max-width: 750px;
    transform: scale(1.1);
    left: -50px;

    @media (max-width: 1399px) {
      left: -10%;
    }

    @media (max-width: 1199px) {
      left: -22%;
      max-width: 70%;
    }
  }

  .section-subtitle {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .decorated-title {
    text-align: center;
    // transform: translateX(-80px);
  }

  @media (max-width: 1199px) {
    .stand-lady {
      top: -40px;
    }
  }

  @media (max-width: 640px) {
    min-height: 310px;

    .stand-lady {
      display: none;
    }

    .decorated-title {
      transform: translateX(0%);
      text-align: center;
    }
  }
}

.offerings {
  background-image: url("../img/offering.jpg");
  background-position: right -100px;
  min-height: 910px;
  background-size: cover;
  position: relative;
  z-index: 3;

  &-container {
    margin-top: 50px;
  }

  .offering {
    background: white;
    border-radius: 10px;
    position: relative;
    border: 2px solid #e7e7e7;
    transition: 0.3s;

    &-content {
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      justify-content: space-between;
    }

    &:focus,
    &:hover,
    &.active {
      border: 2px solid #e5c978;
    }

    &-image {
      margin-bottom: 20px;
      display: block;
      width: 100%;
      height: 376px;
      object-fit: cover;
    }

    &-title {
      font-size: 25px;
      color: #696969;
      margin-bottom: 20px;
      font-weight: 700;
      text-align: left;
    }

    &-description {
      font-size: 18px;
      line-height: 28px;
      color: #696969;
      margin-bottom: 30px;
    }

    .read-more {
      font-size: 16px;
      padding: 0.7rem 2rem;
      border-radius: 25px;
      transition: 0.5s;
      border: 1px solid #878787;

      &:hover {
        background: rgb(242, 210, 103);
        background: linear-gradient(
          0deg,
          rgba(242, 210, 103, 1) 0%,
          rgba(212, 144, 26, 1) 33%,
          rgba(242, 210, 103, 1) 67%,
          rgba(212, 144, 26, 1) 100%
        );
        border: 1px solid rgba(212, 144, 26, 1);
        color: white;
      }
    }
  }

  @media (max-width: 768px) {
    min-height: 410px;

    .offering {
      text-align: center;

      &-description {
        font-size: 16px;
        line-height: 24px;
      }

      &-title {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 10px;
      }
    }
  }
}

.join-us {
  background-image: url("../img/ABOUT-PAGE.jpg");
  background-position: right center;
  min-height: 650px;
  background-size: cover;
  color: white;
  text-align: center;

  .section-description {
    font-size: 26px;
    font-family: "FuturaBtBK";
    color: white;
  }

  h2.section-title {
    font-family: "amsterdam-four";
    font-size: 50px;
    font-weight: 500;
  }

  .read-more {
    background: #fff;
    padding: 0.7rem 2rem;
    margin: 20px auto 0;
    font-size: 20px;
    font-family: "FuturaBT";
    color: #696969;
    border-radius: 25px;
    transition: 0.5s;

    &:hover {
      box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.25);
      // background: -webkit-linear-gradient(right, #f2d267 1%, #d4901a 35%, #f2d267 69%, #d4901a 100%);
      // color: white;
    }
  }

  @media (max-width: 1199px) {
    h2.section-title {
      font-size: 45px;
      line-height: 130px;
      margin: 20px 0;
    }
  }

  @media (max-width: 768px) {
    min-height: 410px;
    text-align: center;

    h2.section-title {
      font-size: 35px;
      line-height: 75px;
      margin: 30px 0;
    }

    .section-description {
      font-size: 18px;
      line-height: 25px;
    }

    .read-more {
      font-size: 16px;
      line-height: 25px;
      padding: 0.5rem 1.5rem;
    }
  }
}

.testimonials {
  background-image: url("../img/testimonials.jpg");
  background-position: right top;
  min-height: 500px;
  background-size: cover;
  position: relative;

  .testimonial {
    &-name {
      font-family: philosopher, sans-serif;
      font-weight: 700;
      font-size: 33px;
      font-style: italic;
      margin-top: 20px;
      color: #696969;
    }

    &-description {
      position: relative;
      padding-top: 30px;
      margin-top: 20px;
      margin-bottom: 20px;

      &::before {
        position: absolute;
        content: "";
        background-image: url(../img/quote.png);
        background-repeat: no-repeat;
        width: 26px;
        height: 26px;
        left: 50%;
        top: 0;
      }
    }

    &-img {
      height: 300px;
      width: 300px;
      display: block;
      margin: 0 auto;
      object-fit: cover;

      &-container {
        max-width: 320px;
        max-height: 320px;
        padding: 10px;
        margin: 0 auto;
        background: radial-gradient(
          circle,
          rgba(215, 171, 47, 0.65) 0%,
          rgba(212, 145, 27, 0.65) 100%,
          rgba(49, 46, 97, 1) 255%
        );
        border-radius: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    min-height: 410px;

    h2.section-title {
      font-size: 35px;
      margin: 30px 0;
    }

    .testimonial-img-container {
      height: 270px;
      width: 270px;
    }

    .testimonial .testimonial-img {
      height: 250px;
      width: 250px;
    }
  }
}

.session {
  background-image: url("../img/session.jpg");
  background-position: right top;
  min-height: 830px;
  background-size: 100%;

  &.section-p {
    padding-top: 300px;
  }

  &-description {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  .session-content {
    width: 100%;
    min-height: 500px;
    padding: 50px 120px;
    // background: rgb(215,171,47);
    background: radial-gradient(
      circle,
      rgba(215, 171, 47, 0.65) 0%,
      rgba(212, 145, 27, 0.65) 100%,
      rgba(49, 46, 97, 1) 255%
    );
    border-radius: 10px;

    .section-title {
      font-family: "Futura-Condensed";
      font-weight: 600;
      font-size: 70px;
      margin-bottom: 40px;
    }
  }

  .read-more {
    background: #fff;
    padding: 0.7rem 2rem;
    margin: 20px auto 0;
    font-size: 20px;
    font-family: "FuturaBT";
    color: #696969;
    border-radius: 25px;
    transition: 0.5s;

    &:hover {
      // color: white;
      // background: -webkit-linear-gradient(right, #f2d267 1%, #d4901a 35%, #f2d267 69%, #d4901a 100%);
      box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.25);
    }
  }

  @media (max-width: 768px) {
    min-height: 410px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &.section-p {
      padding-top: 50px;
    }

    .container {
      padding: 0 10px;
    }

    .session-content {
      font-size: 35px;
      margin: 30px 0;
      padding: 20px 30px;

      .section-title {
        font-size: 45px;
        line-height: 60px;
      }
    }

    .read-more {
      font-size: 16px;
    }
  }
}

.contact {
  background-image: url("../img/contact-bg.jpg");
  background-position: right top;
  min-height: 800px;
  background-size: cover;
  position: relative;

  .form {
    margin-top: 30px;

    .colspan-2 {
      grid-column: 1 / span 2;
    }

    &-field {
      font-family: "FuturaBT";
      color: #898989;
      display: flex;
      flex-direction: column;
      font-size: 22px;

      &:not(div) {
        padding: 10px 10px;
      }
    }

    &-label {
      margin-bottom: 10px;

      span {
        color: #bd0000;
      }
    }

    @media (max-width: 992px) {
      &-label,
      input,
      textarea,
      select {
        font-size: 16px;
        width: 98%;
        margin: 0 auto;
      }
    }

    @media (max-width: 640px) {
      margin-top: 30px;
      gap: 10px;

      .colspan-2 {
        grid-column: 1;
      }

      &-label,
      input,
      textarea,
      select {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 768px) {
    min-height: 500px;
    padding-bottom: 0;
  }
}

.site-footer {
  background: -webkit-linear-gradient(
    right,
    #f2d267 1%,
    #d4901a 35%,
    #f2d267 69%,
    #d4901a 100%
  );
  padding: 30px;
  position: relative;
  z-index: 9;

  .copyright-text {
    font-size: 21px;
    color: white;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 25px;
    }
  }

  @media (max-width: 640px) {
    padding: 20px;
  }
}

.decorated-title {
  position: relative;
  text-align: center;
  font-size: 71px;
  font-family: "Futura-Condensed";
  font-weight: 600;
  background: -webkit-linear-gradient(
    right,
    #f2d267 1%,
    #d4901a 35%,
    #f2d267 69%,
    #d4901a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20px;
    width: 60%;
    height: 20px;
    background-image: url("../img/title-underline.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateX(-50%);
    background-color: transparent;
  }

  &--white {
    color: white;
    background: none;
    -webkit-text-fill-color: white;

    &::after {
      background-image: url("../img/title-underline-white.png");
    }
  }

  @media (max-width: 768px) {
    font-size: 45px;
    text-align: center;
  }
}

.section-subtitle {
  font-family: "Futura-Condensed";
  font-weight: 600;
  font-style: normal;
  color: #696969;
  font-size: 40px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    font-size: 27px;
    line-height: 36px;
    text-align: center;
  }

  @media (max-width: 768px) {
    font-size: 25px;
    line-height: 36px;
    text-align: center;
  }
}

.section-description {
  font-family: philosopher, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 35px;
  color: #696969;
  margin-bottom: 20px;

  strong {
    font-family: "FuturaBT";
    font-weight: 500;
  }

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }
}

.read-more {
  font-family: "FuturaBT";
  color: #878787;
  font-weight: 100;
  font-size: 16px;
  transition: 0.5s;
  display: inline-block;

  &.btn {
    font-size: 16px;
    line-height: 16px;
    padding: 0.7rem 2rem;
    border-radius: 25px;
    transition: 0.5s;
    border: 1px solid #878787;

    &:hover {
      border: 1px solid transparent;
      background: -webkit-linear-gradient(
        right,
        #f2d267 1%,
        #d4901a 35%,
        #f2d267 69%,
        #d4901a 100%
      );
      color: white;
    }

    @media (max-width: 768px) {
      font-size: 12px;
      padding: 0.5rem 1rem;
    }
  }

  &-capsule {
    width: auto;
    display: inline-block;
    margin: 0 auto;
    padding: 0.7rem 3rem;
    font-size: 22px;
    color: white;
    cursor: pointer;
    background: rgb(242, 210, 103);
    background: linear-gradient(
      0deg,
      rgba(242, 210, 103, 1) 0%,
      rgba(212, 144, 26, 1) 33%,
      rgba(242, 210, 103, 1) 67%,
      rgba(212, 144, 26, 1) 100%
    );
    border-color: transparent;
    border-radius: 25px;
    transition: 0.5s;

    &:hover {
      box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.25);
    }
  }
}

/*=================================
* Section
===================================*/
.section-p {
  padding-top: 100px;
  padding-bottom: 100px;

  &.p-50 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.white-text {
  color: white;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.m0 {
  margin: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.theme-color {
  color: #d7ab2f;
}

// Inner Page
.inner-page {
  .hero-section {
    min-height: 350px;
    background-image: url(../img/header-bg-mobile.jpg);
    background-position: center 50px;
    z-index: 10;

    @media (max-width: 640px) {
      background-size: cover;
      min-height: 150px;
    }
  }

  .hero {
    padding: 0 20px;
  }

  section.contact {
    padding: 50px 0;
    min-height: 500px;

    @media (max-width: 640px) {
      padding-top: 20px;
    }
  }

  .class {
    grid-template-columns: 300px 1fr;
    align-items: center;
    margin-top: 40px;

    &-title {
      text-align: left;
      background: -webkit-linear-gradient(
        right,
        #f2d267 1%,
        #d4901a 35%,
        #f2d267 69%,
        #d4901a 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-left: 35px;
    }

    @media (max-width: 991px) {
      grid-template-columns: 180px 1fr;
      gap: 20px;

      &-title {
        font-size: 35px;
        padding-left: 25px;
      }

      &-description {
        text-align: left;
      }
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
      gap: 0;

      &-title {
        font-size: 30px;
        padding-left: 25px;
        text-align: center;
      }

      &-description {
        text-align: center;
      }

      &-img {
        margin: 0 auto;
      }
    }
  }

  .community,
  .discount,
  .classes {
    padding: 50px 0;

    .section-subtitle {
      font-weight: 500;
    }
  }

  .discount {
    background-image: url(../img/83246048_318578185756851_5287424132323999744_n.jpg);
    
    .cursive-heading {
      font-size: 55px;
      line-height: 140px;

      @media (max-width: 991px) {
        font-size: 45px;
        line-height: 100px;
      }

      @media (max-width: 640px) {
        margin: 25px auto;
      }
    }
  }
}

// About Inner
.inner-page {
  .about {
    position: relative;
    background-image: url("../img/about-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .abs-pic {
      position: absolute;
      left: 0;
      max-height: 100%;
      z-index: 9;
      bottom: -25px;

      &.shaddow-img {
        // padding: 10px;
        // background: linear-gradient(
        //   45deg,
        //   #f2d267 1%,
        //   #d4901a 35%,
        //   #f2d267 69%,
        //   #d4901a 100%
        // );
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
      }

      &.right {
        right: 0;
        left: auto;
        z-index: 0;
        overflow: hidden;
        top: -10px;
        max-height: 110%;
      }

      @media (max-width: 1299px) {
        left: -5%;

        &.right {
          max-width: 600px;
        }
      }

      @media (max-width: 1199px) {
        max-width: 50vw;
        top: 50%;
        transform: translateY(-50%);
        left: 0;

        &.right {
          top: 0;
          transform: none;
          right: -10%;
        }
      }

      @media (max-width: 768px) {
        &.right {
          right: -20%;
        }
      }

      @media (max-width: 767px) {
        position: relative;
        width: calc(100% + 60px);
        top: 0;
        transform: translateY(15px);
        max-width: max-content;
        left: -20px;
        bottom: -20px;
        right: -20px;
        z-index: 9;

        &.right {
          top: -60px;
          width: 100%;
        }
      }

      @media (max-width: 576px) {
        &.right {
          top: 00px;
          width: 500px;
          left: -30px;
          height: 600px;
          object-fit: cover;
          right: 0;
        }
      }
    }

    .cursive-heading.gredient {
      text-align: left;
      padding-left: 10px;
    }

    @media (max-width: 767px) {
      overflow: hidden;

      .cursive-heading.gredient {
        text-align: center;
      }

      .dgrid.col-1-1 {
        grid-template-columns: 1fr;
      }
    }
  }

  .join-us {
    min-height: 400px;
    position: relative;
    z-index: 9;

    .section-description {
      text-align: center;
    }
  }

  .about-more {
    background-image: url(../img/DSC07935.jpg);
    overflow: hidden;

    &.about {
      @media(min-width: 1025px) {   
        .dgrid.col-1-1 {
          grid-template-columns: 1fr 200px;
          gap: 0;
        }
        
        img.abs-pic.right {
          max-height: max-content;
          width: 600px;
          top: 50%;
          transform: translateY(-50%);
        }

        .half:first-child {
          position: relative;
          z-index: 111;
        }
      }

      @media(min-width: 1025px) and (max-width: 1399px) {
        .dgrid.col-1-1 {
          grid-template-columns: 1fr 500px;
        }
      }
    }

    @media (max-width: 640px) {
      padding-top: 0;
      padding-bottom: 0;

      .container {
        padding: 0;

        .dgrid.col-1-1 {
          display: block;
        }

        .half {
          padding: 30px 20px;
          max-width: 100vw;
          background: #fff;

          &:nth-child(3) {
            display: none;
          }

          .read-more {
            padding: 0.5rem 2rem;
          }
        }
      }
    }
  }

  .course {
    @media (max-width: 640px) {
      .half.dgrid {
        gap: 0;
        text-align: center;
        order: 1;

        h1.gredient-text.text-left {
          text-align: center;
        }
      }
      .read-more-capsule {
        padding: 0.5rem 2rem;
        font-size: 16px;
      }
    }

    @media (max-width: 640px) {
      padding-top: 30px;

      &:not(.course-2) {
        padding-top: 0px;
      }

      .dgrid.col-1-1 {
        gap: 10px;
      }

      h1.gredient-text.text-left {
        font-size: 35px;
      }
    }
  }

  .aquarian-age {
    background-image: url(../img/ex.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
  }

  .kundalini-yoga {
    background-image: url(../img/circle-bg.png);
    background-size: contain;
    background-position: 90% top;
    background-repeat: no-repeat;
    min-height: 600px;
    position: relative;

    .join-us .content {
      max-width: 600px;
      margin-left: auto;
      padding-right: 50px;
      padding-left: 20px;
      text-align: left;

      .section-description {
        text-align: left;
      }
    }

    &-img {
      position: absolute;
      right: 0;
      z-index: 99;
      top: 50%;
      transform: translateY(-50%);
      width: 900px;
    }

    @media (max-width: 1024px) {
      overflow-x: hidden;

      &-img {
        right: -140px;
      }
    }

    @media (max-width: 768px) {
      overflow: hidden;
      background-size: 400px;

      &-section.dgrid.col-1-1 {
        grid-template-columns: 1.5fr 1fr;
      }

      &-img {
        width: 80%;
        right: -70px;
      }
    }

    @media (max-width: 640px) {
      background-position: center 10px;

      &-section.dgrid.col-1-1 {
        grid-template-columns: 1fr;
        gap: 0;
      }

      &-img {
        position: relative;
        width: 90%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
      }

      .join-us .content {
        padding-right: 20px;

        p.section-description {
          text-align: center;
        }
      }
    }
  }

  .eleven-moon {
    .cursive-heading {
      font-size: 55px;
      padding: 0;

      @media (max-width: 640px) {
        font-size: 30px;
      }
    }
  }

  .journey {
    h2.cursive-heading.gredient {
      font-size: 55px;

      @media (max-width: 1024px) {
        font-size: 45px;
      }

      @media (max-width: 640px) {
        font-size: 27px;
      }
    }

    .stand-lady {
      transform: scale(1);
      height: calc(100% + 90px);
      max-width: 100%;
      top: -50px;

      @media (max-width: 1199px) {
        left: -10%;
      }

      @media (min-width: 1500px) {
        left: 10%;
      }

      @media (max-width: 991px) {
        left: -10%;
      }
    }
  }
}

.paint-brush {
  font-family: "philosopher", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #696969;
  position: relative;
  padding: 20px 10%;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;

  &-container {
    display: grid;
  }

  &-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-text {
    position: relative;
    transition: .5s;
    cursor: pointer;

    &:hover {
      background: -webkit-linear-gradient(right, #f2d267 1%, #d4901a 35%, #f2d267 69%, #d4901a 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @media (max-width: 991px) {
    font-size: 27px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  @media (max-width: 640px) {
    font-size: 20px;
    margin: 0 auto;
  }
}

.day {
  text-align: center;

  &-image {
    min-height: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-details {
    margin-top: -20px;

    &-description {
      color: #696969;
    }
  }

  &-details-name {
    font-size: 35px;
    font-family: 'Futura-Condensed';
    color: #696969;
  }

  @media (max-width: 640px) {
    &-details-name {
      font-size: 22px;
    }
  }
}

.top-left-shaddow {
  background: linear-gradient(
    45deg,
    #f2d267 1%,
    #d4901a 35%,
    #f2d267 69%,
    #d4901a 100%
  );
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  padding: 10px 0 0 10px;
  border-radius: 20px;
  overflow: hidden;
  width: 95%;
}

@media (max-width: 640px) {
  .days.mt-1.dgrid.col_4 {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .days.mt-1.dgrid.col-1-1-1 {
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .day:last-child {
      grid-column: 1 / span 2;
    }
  }
}

@media (max-width: 640px) {
  .fs-45 {
    font-size: 35px;
    line-height: 1;
  }
}

// Menu

.burger-menu {
  position: relative;

  .dropdown.visible {
    opacity: 1;
    transform: translateY(0%);
  }
}

.dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  background: linear-gradient(
    45deg,
    #f2d267 1%,
    #d4901a 35%,
    #f2d267 69%,
    #d4901a 100%
  );
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  color: white;
  overflow: hidden;
  z-index: 99;
  transition: .3s;
  opacity: 0;
  transform: translateY(-100vh);
}


.menu {
  color: white;
  list-style: none;

  &-item {
    padding: 10px 40px;
    transition: 0.3s;

    &:first-child {
      padding-top: 15px;
    }
    
    &:last-child {
      padding-bottom: 15px;
    }

    &:hover, &.active {
      background: white;
    }
    
  }
  
  &-link {
    color: white;
    font-family: "FuturaBT";
    font-size: 20px;
    display: block;
  }  

  &-item:hover &-link, .active &-link {
    background: -webkit-linear-gradient(
      right,
      #f2d267 1%,
      #d4901a 35%,
      #f2d267 69%,
      #d4901a 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media(min-width: 992px){
  .lg-pl-40 { padding-left: 40px; }
}

.section-subtitle.cursive-heading.gredient.text-left {
  margin-bottom: 0;
  text-align: left;
  padding-left: 10px;
}